<h2>Registrar</h2>
<form action="registrar" method="POST">
  <p>
    <label>Nome:</label>
    <input type="text" name="username" required />
    <br />

  </p>
  <p>
    <label>E-mail:</label>
    <input type="email" name="email" required />
    <br />

  </p>
  <p>
    <label>Senha:</label>
    <input type="password" name="password" required />
    <br />

  </p>

  <button type="submit">Registrar</button>
</form>
<p>Já tem uma conta? <a href="login">Login</a></p>